<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/logo.jpeg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>CM</h3>
        </div>
  
        <div class="text-center">@CM</div>
        <div class="text-center">
          <a href="http://www.bit.ly/CM">www.bit.ly/CM</a>
        </div>
      </div>
    </div>
  </div>
  